<% content_for :title, "Editing specialize" %>

<h1>Editing specialize</h1>

<%= render "form", specialize: @specialize %>

<br>

<div>
  <%= link_to "Back to specialize", specialize_index_path %>
</div>
