<div id="<%= dom_id publicservant %>">
  <p>
    <strong>Email:</strong>
    <%= publicservant.email %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= publicservant.department %>
  </p>

</div>
