<% content_for :title, "Editing publicservant" %>

<h1>Editing publicservant</h1>

<%= render "form", publicservant: @publicservant %>

<br>

<div>
  <%= link_to "Back to publicservant", publicservant_index_path %>
</div>
