<div id="<%= dom_id patientdisease %>">
  <p>
    <strong>Email:</strong>
    <%= patientdisease.email %>
  </p>

  <p>
    <strong>Disease code:</strong>
    <%= patientdisease.disease_code %>
  </p>

</div>
