<% content_for :title, "Editing patientdisease" %>

<h1>Editing patientdisease</h1>

<%= render "form", patientdisease: @patientdisease %>

<br>

<div>
  <%= link_to "Back to patientdisease", patientdisease_index_path %>
</div>
