<div id="<%= dom_id discover %>">
  <p>
    <strong>Cname:</strong>
    <%= discover.cname %>
  </p>

  <p>
    <strong>Disease code:</strong>
    <%= discover.disease_code %>
  </p>

  <p>
    <strong>First enc date:</strong>
    <%= discover.first_enc_date %>
  </p>

</div>
